extends ../layouts/default.pug
include ../mixins/pagination.pug
include ../mixins/form-search.pug

block main
  - const modelName = "tài khoản";
  - const headers = ["STT", "Họ tên", "Email", "Nhóm quyền", "Trạng thái", "Hành động"]

  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
              h4.card-title #{pageTitle}
            // end col
            .col-auto
              a.btn.btn-primary(
                href=`/${pathAdmin}/account-admin/create`
                )
                i.fa-solid.fa-plus.me-1
                | Tạo tài khoản
                // end col
            // end col
          // end row
        // end card-header
        .card-body.pt-0
          .row
            .col-lg-6
              +form-search()
          .table-responsive
            table.table.table-striped.mb-0
              thead.table-light
                tr
                  each head in headers
                    th #{head}
              tbody
                each item, index in recordList
                  tr
                    td #{pagination.skip + index + 1}
                    td #{item.fullName}
                    td #{item.email}
                    td(style="max-width: 200px;")
                      each roleName in item.rolesName
                        span(class="badge bg-dark me-1") #{roleName}
                    td
                      if (item.status === "initial")
                        span.badge.bg-warning Khởi tạo
                      else if (item.status === "active")
                        span.badge.bg-success Hoạt động
                      else if(item.status === "inactive")
                        span.badge.bg-danger Tạm dừng
                    td.text-end
                      a(href=`/${pathAdmin}/account-admin/detail/${item.id}` title="Xem chi tiết")
                        i.las.la-eye.text-info.font-16
                      a(href=`/${pathAdmin}/account-admin/edit/${item.id}` title="Chỉnh sửa" style="margin-left: 8px;")
                        i.las.la-pen.text-secondary.font-16
                      a(href=`/${pathAdmin}/account-admin/change-password/${item.id}` title="Đổi mật khẩu" style="margin-left: 8px;")
                        i.las.la-key.text-secondary.font-16
                      a(
                        href="javascript:;"
                        button-api=`delete-${modelName}`
                        data-method="PATCH"
                        data-api=`/${pathAdmin}/account-admin/delete/${item.id}`
                        title="Xóa"
                        style="margin-left: 8px;"
                      )
                        i.las.la-trash-alt.text-secondary.font-16      
          +pagination()
    // end col
