extends ../layouts/default.pug
include ../mixins/pagination.pug
include ../mixins/form-search.pug

block main
  - const modelName = "danh mục bài viết";
  - const headers = ["STT", "Avatar","Tên danh mục", "Danh mục cha", "Trạng thái", "Lượt xem", "Hành động"]

  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
              h4.card-title #{pageTitle}
            // end col
            .col-auto
              a.btn.btn-danger.me-1(
                href=`/${pathAdmin}/article/category/trash`
                )
                i.las.la-trash-alt.me-1
                | Thùng rác
              a.btn.btn-primary(
                href=`/${pathAdmin}/article/category/create`
                )
                i.fa-solid.fa-plus.me-1
                | Tạo danh mục
            // end col              
          // end row
        // end card-header
        .card-body.pt-0
          .row
            .col-lg-6
              +form-search()
          .table-responsive
            table.table.table-striped.mb-0
              thead.table-light
                tr
                  each head in headers
                    th #{head}
              tbody
                if(recordList.length > 0)
                  each item, index in recordList
                    tr
                      td #{pagination.skip + index + 1}
                      td
                        if(item.avatar)
                          img(
                            src=`${domainCDN}${item.avatar}`
                            class="me-1 thumb-md d-inline rounded"
                          )
                      td #{item.name}
                      td #{item.parentName}
                      td 
                        if (item.status === "active")
                          span.badge.bg-success Hoạt động
                        else if(item.status === "inactive")
                          span.badge.bg-danger Tạm dừng
                      td #{item.view}
                      td.text-end
                        a(href=`/${pathAdmin}/article/category/edit/${item.id}`)
                          i.las.la-pen.text-secondary.font-16
                        a(
                          href="javascript:;" 
                          button-api=`delete-${modelName}`
                          data-method="PATCH" 
                          data-api=`/${pathAdmin}/article/category/delete/${item.id}`
                          )
                          i.las.la-trash-alt.text-secondary.font-16
                else 
                  tr
                    td(colspan=headers.length class="text-center") Không có dữ liệu nào để hiển thị
          +pagination()
    // end col