extends ../layouts/default.pug

block main
  - const modelName = "danh mục bài viết";
  - const headers = ["STT", "Tên danh mục", "Danh mục cha", "Trạng thái", "Lượt xem", "Hành động"]

  .row
    .col-12
      .card
        .card-header
          .row.align-items-center
            .col
              h4.card-title #{pageTitle}
            // end col
            .col-auto
              a.btn.btn-info(
                href=`/${pathAdmin}/article/category`
                )
                i.fa-solid.fa-arrow-left.me-1
                | Quay lại danh sách
            // end col              
          // end row
        // end card-header
        .card-body.pt-0
          .table-responsive
            table.table.table-striped.mb-0
              thead.table-light
                tr
                  each head in headers
                    th #{head}
              tbody
                if(recordList.length > 0)
                  each item, index in recordList
                    tr
                      td #{index + 1}
                      td #{item.name}
                      td #{item.parent}
                      td 
                        if (item.status === "active")
                          span.badge.bg-success Hoạt động
                        else if(item.status === "inactive")
                          span.badge.bg-danger Tạm dừng
                      td #{item.view}
                      td.text-end
                        a(
                          href="javascript:;" 
                          button-api=`undo-${modelName}` 
                          data-method="PATCH" 
                          data-api=`/${pathAdmin}/article/category/undo/${item.id}`
                          )
                          i.fa-solid.fa-rotate-left.me-1
                        a(
                          href="javascript:;" 
                          button-api=`destroy-${modelName}` 
                          data-method="DELETE" 
                          data-api=`/${pathAdmin}/article/category/destroy/${item.id}`
                          )
                          i.fa-solid.fa-trash.text-danger
                else 
                  tr
                    td(colspan=headers.length class="text-center") Không có dữ liệu nào để hiển thị
    // end col