extends ../layouts/default.pug
include ../mixins/pagination.pug
include ../mixins/form-search.pug

block main
  - const modelName = "bài viết";
  - const headers = ["STT", "Avatar","Tên bài viết", "Trạng thái", "Lượt xem", "Hành động"]

  if (permissions.includes("article-list"))
    .row
      .col-12
        .card
          .card-header
            .row.align-items-center
              .col
                h4.card-title #{pageTitle}
              // end col
              .col-auto
                a.btn.btn-danger.me-1(
                  href=`/${pathAdmin}/article/trash`
                  )
                  i.las.la-trash-alt.me-1
                  | Thùng rác
                if (permissions.includes("article-create"))
                  a.btn.btn-primary(
                    href=`/${pathAdmin}/article/create`
                    )
                    i.fa-solid.fa-plus.me-1
                    | Tạo bài viết
                    // end col
              // end col
            // end row
          // end card-header
          .card-body.pt-0
            .row
              .col-lg-6
                +form-search()
            .table-responsive
              table.table.table-striped.mb-0
                thead.table-light
                  tr
                    each head in headers
                      th #{head}
                tbody
                  each item, index in recordList
                    tr
                      td #{pagination.skip + index + 1}
                      td
                        if(item.avatar)
                          img(
                            src=`${domainCDN}${item.avatar}`
                            class="rounded thumb-md me-1 d-inline"
                          )
                      td #{item.name}
                      td
                        if (item.status == "draft")
                          span(class="badge bg-dark") Bản nháp
                        else if (item.status == "published")
                          span(class="badge bg-success") Đã xuất bản
                        else if (item.status == "archived")
                          span(class="badge bg-danger") Đã lưu trữ
                      td #{item.view}
                      td.text-end
                        if (permissions.includes("article-edit"))
                          a(href=`/${pathAdmin}/article/edit/${item.id}`)
                            i.las.la-pen.text-secondary.font-16
                        if (permissions.includes("article-delete"))
                          a(
                            href="javascript:;"
                            button-api=`delete-${modelName}`
                            data-method="PATCH"
                            data-api=`/${pathAdmin}/article/delete/${item.id}`
                          )
                            i.las.la-trash-alt.text-secondary.font-16
            +pagination()
      // end col
