extends ../layouts/default.pug
include ../mixins/form-group.pug

block main
  .card
    .card-header
      .row.align-items-center
        .col
          h4.card-title #{pageTitle}
        .col-auto
          a.btn.btn-secondary(
            href=`/${pathAdmin}/dealer/allocation/${allocation.id}/vins/list`
            )
            i.fa-solid.fa-arrow-left.me-1
            | Quay lại
    .card-body.pt-0
      form(id="vinCreateForm")
        .row
          .col-md-12.col-lg-12
            .mb-3
              label.form-label(for="vins") Số khung (VIN) * 
                small.text-muted (#{requiredVins} VIN)
              textarea.form-control(id="vins" name="vins" rows="10" placeholder=`Nhập ${requiredVins} số khung (VIN), mỗi dòng một VIN` required data-required-vins=requiredVins)
              small.text-muted Mỗi dòng là một số khung (VIN). Bắt buộc nhập đúng #{requiredVins} VIN.
        button.btn.btn-primary(type="submit") Thêm VIN
        a.btn.btn-danger.ms-1(href=`/${pathAdmin}/dealer/allocation/${allocation.id}/vins/list`) Hủy

