extends ../layouts/default.pug
include ../mixins/form-group.pug
include ../mixins/checkbox.pug

block main
  .card
    .card-header
      .row.align-items-center
        .col
          h4.card-title #{pageTitle}
    .card-body.pt-0
      form(id="productCreateForm")
        .row
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="name") Tên sản phẩm *
              input.form-control(id="name" type="text" name="name")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="version") Phiên bản *
              input.form-control(id="version" type="text" name="version")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="slug") Đường dẫn *
              .input-group
                span.btn.btn-outline-info(
                  btn-generate-slug="Product" 
                  from="name"
                  to="slug"
                  include-version="true"
                ) Tự động
                input.form-control(id="slug" type="text" name="slug")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="position") Vị trí
              input.form-control(id="position" type="number" name="position")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="status") Trạng thái
              select.form-select(id="status" name="status")
                option(value="draft") Bản nháp
                option(value="active") Hoạt động
                option(value="inactive") Tạm dừng
          .col-md-6.col-lg-6
            .mb-3
              label.form-label Danh mục
              div(class="checkbox-list" checkbox-list="category")
                +checkbox-list(categoryList)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="basePrice") Giá niêm yết
              input.form-control(id="basePrice" type="number" name="basePrice")
          .col-md-4.col-lg-4
            .mb-3
              label.form-label(for="rangeKm") Quãng đường (km)
              input.form-control(id="rangeKm" type="number" name="rangeKm")
          .col-md-4.col-lg-4
            .mb-3
              label.form-label(for="batteryKWh") Dung lượng pin (kWh)
              input.form-control(id="batteryKWh" type="number" name="batteryKWh")
          .col-md-4.col-lg-4
            .mb-3
              label.form-label(for="maxPowerHP") Công suất tối đa (HP)
              input.form-control(id="maxPowerHP" type="number" name="maxPowerHP")
          .col-md-12.col-lg-12
            .mb-3
              label.form-label Danh sách thuộc tính
              div(class="checkbox-list" checkbox-list="attributes")
                +checkbox-list(attributeList)
              span.btn.btn-outline-info.mt-1(
                button-render-variant="attributes"
              ) Tạo biến thể
              script. 
                const attributeList = !{JSON.stringify(attributeList)}
          .col-md-12.col-lg-12
            .mb-3
              label.form-label Danh sách biến thể
              .table-responsive-sm
                table.table.mb-0(variant-table)
                  thead.table-light
                    tr                    
                  tbody
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="images") Ảnh sản phẩm
              // Hidden real file input
              input(
                id="images"
                type="file"
                name="images"
                accept="image/*"
                multiple
                hidden
              )
              // Custom inline UI (không thêm hàng mới)
              .input-group
                span.btn.btn-outline-info(type="button" id="imagesChooseBtn") Chọn tệp
                input.form-control(type="text" id="imagesSelectedText" value="Không có tệp nào được chọn" readonly)
              // Preview ảnh đã chọn
              .mt-2
                .row.g-2(id="imagesPreview")
          .col-md-12.col-lg-12
            .mb-3
              label.form-label(for="content") Nội dung chi tiết
              textarea(id="content" name="content" textarea-mce)
        button.btn.btn-primary(type="submit") Tạo mới
        a.btn.btn-danger.ms-1(href=`/${pathAdmin}/product/list`) Hủy
